main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#greeting-form, #greeting-card {
    width: 600px;
    height: auto;
    padding: 5px 50px 50px 50px;
}

#greeting-form {
    font-family: 'Roboto', sans-serif;
}

#greeting-card {
    background-color: paleturquoise;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}

#greeting-title {
    font-size: 60px;
}

#greeting-message {
    font-size: 35px;
}
